In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")

In [ ]:
liver_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/liver_patient_data/indian_liver_patient_dataset.csv')

In [ ]:
liver_data.head()

   Age  Gender  ...  Albumin_and_Globulin_Ratio  Liver_Problem
0   65  Female  ...                        0.90              1
1   62    Male  ...                        0.74              1
2   62    Male  ...                        0.89              1
3   58    Male  ...                        1.00              1
4   72    Male  ...                        0.40              1

[5 rows x 11 columns]

In [ ]:
liver_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         500 non-null    int64
 1   Gender                      500 non-null    object
 2   Total_Bilirubin             500 non-null    float64
 3   Direct_Bilirubin            500 non-null    float64
 4   Alkaline_Phosphotase        500 non-null    int64
 5   Alamine_Aminotransferase    500 non-null    int64
 6   Aspartate_Aminotransferase  500 non-null    int64
 7   Total_Protiens              500 non-null    float64
 8   Albumin                     500 non-null    float64
 9   Albumin_and_Globulin_Ratio  496 non-null    float64
 10  Liver_Problem               500 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 43.1+ KB

In [ ]:
liver_data['Liver_Problem'].value_counts()

1    350
2    150
Name: Liver_Problem, dtype: int64

In [ ]:
liver_data[liver_data['Albumin_and_Globulin_Ratio'].isnull()]

     Age  Gender  ...  Albumin_and_Globulin_Ratio  Liver_Problem
209   45  Female  ...                         NaN              1
241   51    Male  ...                         NaN              1
253   35  Female  ...                         NaN              2
312   27    Male  ...                         NaN              2

[4 rows x 11 columns]

In [ ]:
liver_data.Albumin_and_Globulin_Ratio.fillna(liver_data['Albumin_and_Globulin_Ratio'].mean(), inplace = True)

In [ ]:
liver_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         500 non-null    int64
 1   Gender                      500 non-null    object
 2   Total_Bilirubin             500 non-null    float64
 3   Direct_Bilirubin            500 non-null    float64
 4   Alkaline_Phosphotase        500 non-null    int64
 5   Alamine_Aminotransferase    500 non-null    int64
 6   Aspartate_Aminotransferase  500 non-null    int64
 7   Total_Protiens              500 non-null    float64
 8   Albumin                     500 non-null    float64
 9   Albumin_and_Globulin_Ratio  500 non-null    float64
 10  Liver_Problem               500 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 43.1+ KB

In [ ]:
le = LabelEncoder()
liver_data.Gender = le.fit_transform(liver_data.Gender)
liver_data.head()

   Age  Gender  ...  Albumin_and_Globulin_Ratio  Liver_Problem
0   65       0  ...                        0.90              1
1   62       1  ...                        0.74              1
2   62       1  ...                        0.89              1
3   58       1  ...                        1.00              1
4   72       1  ...                        0.40              1

[5 rows x 11 columns]

In [ ]:
X = liver_data.drop('Liver_Problem', axis = 1) 
y = liver_data['Liver_Problem']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 10)

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
tn, fp, fn, tp = confusion_matrix(y_test, pred).ravel()
print("True Positive", tp)
print("True Negative", tn)
print("False Positive", fp)
print("False Negative", fn)

True Positive 13
True Negative 89
False Positive 13
False Negative 35

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred)

0.68

In [ ]:
test_new = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/liver_patient_data/indian_liver_patient_new_testdataset.csv')

In [ ]:
test_new.head()

   Age Gender  ...  Albumin  Albumin_and_Globulin_Ratio
0   36   Male  ...      2.5                         0.7
1   42   Male  ...      2.7                         1.2
2   53   Male  ...      2.5                         0.4
3   32   Male  ...      2.7                         0.9
4   32   Male  ...      3.1                         1.1

[5 rows x 10 columns]

In [ ]:
le = LabelEncoder()
test_new.Gender = le.fit_transform(test_new.Gender)
test_new.head()

   Age  Gender  ...  Albumin  Albumin_and_Globulin_Ratio
0   36       1  ...      2.5                         0.7
1   42       1  ...      2.7                         1.2
2   53       1  ...      2.5                         0.4
3   32       1  ...      2.7                         0.9
4   32       1  ...      3.1                         1.1

[5 rows x 10 columns]

In [ ]:
Liver_Problem = model.predict(test_new)

In [ ]:
res = pd.DataFrame(Liver_Problem)
res.index = test_new.index # its important for comparison
res.columns = ["Liver_Problem"]

from google.colab import files 
res.to_csv('prediction_results_HP.csv')
files.download('prediction_results_HP.csv')